SOLANA_CLUSTER=devnet
SOLANA_RPC_URL=https://api.devnet.solana.com
ANCHOR_PROVIDER_URL=https://api.devnet.solana.com
ANCHOR_WALLET=
USUFRUCT_PROGRAM_ID=7L4m3nKBzAprH6L18nXHngA1djPAmYYt1XZVu7RqW8V1
DEVNET_MIN_DEPLOYER_SOL=2
DEVNET_MIN_DEMO_WALLET_SOL=0.25
